<!-- templates/index.html -->

{% extends "base.html" %} {% block content %}
<div class="hero-body">
    <div class="row marketing">
        <div class="col-lg-6">
            <h3>GET All Records</h3>
            <h4>Type of Request: GET</h4>
            <p>http://52.91.60.198:5000/records/</p>

            <h3>GET Holidays Name</h3>
            <h4>Type of Request: GET</h4>
            <p>http://52.91.60.198:5000/records/holidays/</p>
        </div>
        <div class="col-lg-6">
            <h3>POST in Holidays</h3>
            <h4>Type of Request: POST</h4>
            <p>http://52.91.60.198:5000/records/holidays/</p>
        </div>
        <div class="col-lg-6">
            <h3>PUT New Name</h3>
            <h4>Type of Request: PUT</h4>
            <p>http://52.91.60.198:5000/records/holidays/</p>
        </div>
        <div class="col-lg-6">
            <h3>UPDATE Holiday Information</h3>
            <h4>Type of Request: UPDATE</h4>
            <p>http://52.91.60.198:5000/records/holidays/</p>
        </div>
        <div class="col-lg-6">
            <h3>DELETE New Name</h3>
            <h4>Type of Request: DELETE</h4>
            <p>http://52.91.60.198:5000/records/holidays/</p>
        </div>
    </div>
</div>
{% endblock %}
